# ========================
# Secret untuk Grafana
# ========================
apiVersion: v1
kind: Secret
metadata:
  name: grafana-secret
type: Opaque
stringData:
  GF_SECURITY_ADMIN_USER: "admin"       # ganti sesuai kebutuhan
  GF_SECURITY_ADMIN_PASSWORD: "admin"    # ganti sesuai kebutuhan

---
# ========================
# Persistent Volume Claim untuk Grafana storage
# ========================
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
