apiVersion: v1
kind: Service
metadata:
  name: flink-jobmanager
spec:
  type: NodePort
  selector:
    app: flink
    role: jobmanager
  ports:
    - name: rest
      port: 8081
      targetPort: 8081
      nodePort: 30081

---
apiVersion: v1
kind: Service
metadata:
  name: flink-taskmanager
spec:
  selector:
    app: flink
    role: taskmanager
  ports:
    - name: tm-rpc
      port: 6121
      targetPort: 6121
  type: ClusterIP