apiVersion: v1
kind: Service
metadata:
  name: flink-jobmanager
spec:
  selector:
    app: flink
    role: jobmanager
  ports:
    - name: rpc
      port: 6123
      targetPort: 6123
    - name: rest
      port: 8081
      targetPort: 8081
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: flink-taskmanager
spec:
  selector:
    app: flink
    role: taskmanager
  ports:
    - name: tm-rpc
      port: 6121
      targetPort: 6121
  type: ClusterIP