org.apache.flink:flink-connector-kafka:2.1.1
org.apache.flink:flink-avro:2.1.1

# Confluent Schema Registry client
io.confluent:kafka-schema-registry-client:7.6.1
io.confluent:kafka-avro-serializer:7.6.1
io.confluent:common-config:7.6.1
io.confluent:common-utils:7.6.1