services:

  grafana:
    container_name: ${GRAFANA_CONTAINER_NAME}
    image: monitoring_grafana
    restart: always
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_SECURITY_ADMIN_PASSWORD}
    ports:
      - ${GRAFANA_UI_PORT}:3000
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - Batching-Processing
      - Streaming-Processing

volumes:
  grafana-storage:
    name: grafana_monitoring

networks:
  Batching-Processing:
    external: true
  Streaming-Processing:
    external: true