apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow
  labels:
    app: airflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow
  template:
    metadata:
      labels:
        app: airflow
    spec:

      initContainers:
        - name: airflow-db-migrate
          image: ajied21/airflow:latest
          imagePullPolicy: IfNotPresent
          command: ["airflow", "db", "migrate"]
          envFrom:
            - secretRef:
                name: airflow-secret
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_DB
            - name: POSTGRES_CONTAINER_NAME
              value: "postgres"
            - name: POSTGRES_PORT
              value: "5432"
          volumeMounts:
            - name: airflow-dags
              mountPath: /opt/airflow/dags
            - name: airflow-logs
              mountPath: /opt/airflow/logs
            - name: airflow-dbt
              mountPath: /opt/airflow/.dbt

      containers:
        - name: airflow-scheduler
          image: ajied21/airflow:latest
          imagePullPolicy: IfNotPresent
          command: ["airflow", "scheduler"]
          envFrom:
            - secretRef:
                name: airflow-secret
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_DB
            - name: POSTGRES_CONTAINER_NAME
              value: "postgres"
            - name: POSTGRES_PORT
              value: "5432"
            - name: SPARK_MASTER_HOST_NAME
              value: "spark-master"
            - name: SPARK_MASTER_PORT
              value: "7077"
          volumeMounts:
            - name: airflow-dags
              mountPath: /opt/airflow/dags
            - name: airflow-logs
              mountPath: /opt/airflow/logs
            - name: airflow-dbt
              mountPath: /opt/airflow/.dbt

        - name: airflow-apiserver
          image: ajied21/airflow:latest
          imagePullPolicy: IfNotPresent
          command: ["/bin/bash", "/scripts/entrypoint.sh"]
          envFrom:
            - secretRef:
                name: airflow-secret
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_DB
            - name: POSTGRES_CONTAINER_NAME
              value: "postgres"
            - name: POSTGRES_PORT
              value: "5432"
            - name: SPARK_MASTER_HOST_NAME
              value: "spark-master"
            - name: SPARK_MASTER_PORT
              value: "7077"
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: airflow-dags
              mountPath: /opt/airflow/dags
            - name: airflow-logs
              mountPath: /opt/airflow/logs
            - name: airflow-dbt
              mountPath: /opt/airflow/.dbt

      volumes:
        - name: airflow-dags
          persistentVolumeClaim:
            claimName: airflow-dags-pvc
        - name: airflow-logs
          persistentVolumeClaim:
            claimName: airflow-logs-pvc
        - name: airflow-dbt
          persistentVolumeClaim:
            claimName: airflow-dbt-pvc