global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  # Jika ingin scrape Flink JobManager
  - job_name: 'flink'
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'jobmanager:8081'