apiVersion: batch/v1
kind: Job
metadata:
  name: debezium-register-connector
spec:
  backoffLimit: 5
  template:
    spec:
      restartPolicy: OnFailure
      volumes:
      - name: connector-config
        configMap:
          name: debezium-connectors

      containers:
      - name: register
        image: curlimages/curl:8.6.0
        volumeMounts:
        - name: connector-config
          mountPath: /config
        command:
        - sh
        - -c
        - |
          until curl -s http://debezium:8083/connectors; do sleep 5; done

          for file in /config/*.json; do
            echo "Registering $file"
            curl -X POST http://debezium:8083/connectors \
              -H "Content-Type: application/json" \
              --data-binary @"$file" || true
          done