apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-jobmanager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flink
      role: jobmanager
  template:
    metadata:
      labels:
        app: flink
        role: jobmanager
    spec:
      containers:
        - name: jobmanager
          image: ajied21/flink:latest
          imagePullPolicy: IfNotPresent
          args: ["jobmanager"]

          ports:
            - containerPort: 6123
            - containerPort: 8081
            - containerPort: 6124

          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1"
              memory: "1Gi"

          volumeMounts:
            - name: flink-config
              mountPath: /opt/flink/conf

            - name: flink-scripts
              mountPath: /opt/flink/flink-scripts

            - name: flink-output
              mountPath: /opt/flink/output

      volumes:
        - name: flink-config
          configMap:
            name: flink-conf

        - name: flink-scripts
          persistentVolumeClaim:
            claimName: flink-scripts-pvc

        - name: flink-output
          persistentVolumeClaim:
            claimName: flink-output-pvc

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-taskmanager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flink
      role: taskmanager
  template:
    metadata:
      labels:
        app: flink
        role: taskmanager
    spec:
      containers:
        - name: taskmanager
          image: ajied21/flink:latest
          imagePullPolicy: IfNotPresent
          args: ["taskmanager"]

          ports:
            - containerPort: 6121

          resources:
            requests:
              cpu: "1"
              memory: "2Gi"
            limits:
              cpu: "1"
              memory: "2Gi"

          volumeMounts:
            - name: flink-config
              mountPath: /opt/flink/conf

            - name: flink-scripts
              mountPath: /opt/flink/flink-scripts

            - name: flink-output
              mountPath: /opt/flink/output

      volumes:
        - name: flink-config
          configMap:
            name: flink-conf

        - name: flink-scripts
          persistentVolumeClaim:
            claimName: flink-scripts-pvc

        - name: flink-output
          persistentVolumeClaim:
            claimName: flink-output-pvc