apiVersion: v1
kind: Secret
metadata:
  name: airflow-secret
type: Opaque
stringData:
  AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.basic_auth"
  AIRFLOW__WEBSERVER__SIMPLE_AUTH_BACKEND_USERS: '[{"username":"user","password":"admin123"}]'
  AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: "postgresql+psycopg2://user:admin123@postgres:5432/data_staging"
  AIRFLOW__CORE__FERNET_KEY: "Q0Ei3kSG1U1gYOX7t3lW3h4M2eHcDcGc8EJdP2YVZDQ="
  AIRFLOW__WEBSERVER__SECRET_KEY: "my_webserver_secret"
  AIRFLOW__CORE__ENABLE_REACT_UI: "true"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: airflow-dags-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: airflow-logs-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: airflow-dbt-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi