name: CI - Build & Push Docker Images

on:
  push:
    branches: [ "master" ]
    paths:
      - "docker/**"
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - airflow
          - debezium
          - flink
          - grafana
          - kafka
          - postgres
          - prometheus
          - spark

    steps:
      - uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push
        run: |
          docker build \
            -f docker/Dockerfile.${{ matrix.service }} \
            -t ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:latest .

          docker push ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:latest